@mixin pos($x, $y) {
	top: $x;
	left: $y;
}
.animation-container:nth-child(5) {
	.circle-container {
		position: relative;
		width: 100px;
		height: 200px;
		.go-checkbox {
			position: absolute;
			opacity: 0;
		}

		.go-checkbox:checked {
			~ .go {
				color: rgb(248, 218, 53);
				border-color: rgb(248, 218, 53);
				opacity: 0.7;
			}
			~ .dot {
				animation-play-state: running;
			}
		}
		.dot {
			position: absolute;

			background-color: #fff;
			width: 40px;
			height: 40px;
			border-radius: 50%;

			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
			animation-duration: 12s;
			animation-play-state: paused;
		}

		.dot1 {
			@include pos(0, 0);
			animation-name: circle1;
			animation-delay: 0.8s;
		}

		.dot2 {
			@include pos(0, 60px);
			animation-name: circle2;
			animation-delay: 1.2s;
		}
		.dot3 {
			@include pos(60px, 0);
			animation-name: circle3;
			animation-delay: 0.4s;
		}
		.dot4 {
			@include pos(60px, 60px);
			animation-name: circle4;
			animation-delay: 1.6s;
		}
		.dot5 {
			@include pos(120px, 0);
			animation-name: circle5;
		}
	}
}

@keyframes circle5 {
	8% {
		@include pos(120px, 60px);
	}
	16% {
		@include pos(120px, 60px);
	}
	25% {
		@include pos(60px, 60px);
	}
	33% {
		@include pos(60px, 60px);
	}
	41% {
		@include pos(0, 60px);
	}
	50% {
		@include pos(0, 60px);
	}
	58% {
		@include pos(0, 0);
	}
	66% {
		@include pos(0, 0);
	}
	75% {
		@include pos(60px, 0);
	}
	83% {
		@include pos(60px, 0);
	}
	91% {
		@include pos(120px, 0);
	}
	100% {
		@include pos(120px, 0);
	}
}

@keyframes circle3 {
	8% {
		@include pos(120px, 0);
	}
	16% {
		@include pos(120px, 0);
	}
	25% {
		@include pos(120px, 60px);
	}
	33% {
		@include pos(120px, 60px);
	}
	41% {
		@include pos(60px, 60px);
	}
	50% {
		@include pos(60px, 60px);
	}
	58% {
		@include pos(0, 60px);
	}
	66% {
		@include pos(0, 60px);
	}
	75% {
		@include pos(0, 0);
	}
	83% {
		@include pos(0, 0);
	}
	91% {
		@include pos(60px, 0);
	}
	100% {
		@include pos(60px, 0);
	}
}

@keyframes circle1 {
	8% {
		@include pos(60px, 0);
	}
	16% {
		@include pos(60px, 0);
	}
	25% {
		@include pos(120px, 0);
	}
	33% {
		@include pos(120px, 0);
	}
	41% {
		@include pos(120px, 60px);
	}
	50% {
		@include pos(120px, 60px);
	}
	58% {
		@include pos(60px, 60px);
	}
	66% {
		@include pos(60px, 60px);
	}
	75% {
		@include pos(0, 60px);
	}
	83% {
		@include pos(0, 60px);
	}
	91% {
		@include pos(0, 0);
	}
	100% {
		@include pos(0, 0);
	}
}

@keyframes circle2 {
	8% {
		@include pos(0, 0);
	}
	16% {
		@include pos(0, 0);
	}
	25% {
		@include pos(60px, 0);
	}
	33% {
		@include pos(60px, 0);
	}
	41% {
		@include pos(120px, 0);
	}
	50% {
		@include pos(120px, 0);
	}
	58% {
		@include pos(120px, 60px);
	}
	66% {
		@include pos(120px, 60px);
	}
	75% {
		@include pos(60px, 60px);
	}
	83% {
		@include pos(60px, 60px);
	}
	91% {
		@include pos(0, 60px);
	}
	100% {
		@include pos(0, 60px);
	}
}
@keyframes circle4 {
	8% {
		@include pos(0, 60px);
	}
	16% {
		@include pos(0, 60px);
	}
	25% {
		@include pos(0, 0);
	}
	33% {
		@include pos(0, 0);
	}
	41% {
		@include pos(60px, 0);
	}
	50% {
		@include pos(60px, 0);
	}
	58% {
		@include pos(120px, 0);
	}
	66% {
		@include pos(120px, 0);
	}
	75% {
		@include pos(120px, 60px);
	}
	83% {
		@include pos(120px, 60px);
	}
	91% {
		@include pos(60px, 60px);
	}
	100% {
		@include pos(60px, 60px);
	}
}
